#mainheading{
    color: orangered;
    background-color: lightskyblue;
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 2px black;
    border: 10px solid black;
    border-radius: 50px;

}
#eatala{
    color: orangered;
    background-color: aqua;
    text-align: center;
    font-size: 2.5rem;
font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 2px black;
    border: 10px double black ;
 border-radius: 50px;
}
#rajender{
    color: blue;
    background-color: orange;
}
#bandi{
    color: brown;
    background-color: aquamarine;
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 2px black;
    border: 10px dotted blueviolet;
    border-radius: 50px;
}
#sanjay{
    color: brown;
    text-align: right;
    width: 900px;
}
#kishan{
    color: orangered;
    background-color: lightgreen;
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px hotpink;
    text-shadow: 2px 2px 2px black;
    border: 10px solid darkorange;
    border-radius: 50px;
}
#kish{
    color: blue;
}
#medak{
    color: violet;
    background-color: brown;
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;
    text-shadow: 2px 2px 2px sienna;
    border: 10px ridge darkorange;
    border-radius: 50px;
}
#raghu{
    color:navy;
    text-align: right;
    width: 900px;
}
#dk{
    color: aqua;
    background-color: black;
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px hotpink;
    text-shadow: 2px 2px 2px green;
    border: 10px double darkred;
    border-radius: 50px
;
}
#mah{
    color: blue;
}
#uj{
    background-color: lightpink;
}
#ea{
    display: inline;
    background-color: lightgreen;
}
#ba{
    background-color: gold;
}
#ki{
    background-color: hotpink;
}
#ra{
    background-color: wheat;
}
#kd{
    background-color: lightseagreen;
}
#eata{
    display: inline-block;
    width: 650px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}
#bsk{
    display: inline-block;
    width: 650px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}
#kr{
    display: inline-block;
    width: 650px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}
#mrr{
    display: inline-block;
    width: 600px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}
#brn{
    display: inline-block;
    width: 650px;
    height: 200px;
    overflow: auto;
    text-align: justify;
}
#bjp{
    opacity: 0.5;
}
#vam{
display: none;
}
#medak{
    opacity: 0.4;
}